<h1>Team Name:</h1> <%= @team.name %>
<h2>Team Motto:</h2> <%= @team.motto %>

<h1>Heroes</h1>
<p>Hero Name: <%= @hero1.name %></p>
<p>Hero Power: <%= @hero1.power %></p>
<p>Hero Biography: <%= @hero1.bio %></p>
<p>Hero Name: <%= @hero2.name %></p>
<p>Hero Power: <%= @hero2.power %></p>
<p>Hero Biography: <%= @hero2.bio %></p>
<p>Hero Name: <%= @hero3.name %></p>
<p>Hero Power: <%= @hero3.power %></p>
<p>Hero Biography: <%= @hero3.bio %></p>
